[Desktop Entry]
Name=Blasteroids
Comment=A simple game where the goal is to destroy as many asteroids as possible
Exec=blasteroids
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=game;asteroids;arcade;
